<div *ngIf="dataSource.length>0">
  <mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>{{ col | titlecase }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.username }}
        <ng-container *ngIf="col === 'Acciones'">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </mat-table>
  <div class=" d-flex justify-content-between">
    <h1> Total registros: {{totalDataSource}} </h1>
    <mat-paginator [length]="totalDataSource" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="filters.per_page"
                   [pageIndex]="pageActually"
                   (page)="handlePage($event)"

                   itemsPerPageLabel="Elementos por página"
                   nextPageLabel="Siguiente"
                   previousPageLabel="Anterior"
                   firstPageLabel="Primera página"
                   lastPageLabel="Última página"
    ></mat-paginator>
  </div>

</div>
