<main class="main bg-gray">
  <div class="content ">
    <header class="p-3 px-4 mb-3 border-bottom ">
      <div class="">
        <div class="row d-flex justify-content-start">
          <h6>Modulo Administración</h6>
          <h3>Administración de usuiarios</h3>
        </div>
        <div class="row d-flex align-content-end">
          <div class="col-6">
            <div class="row p-2">
              <select class="form-select custom-select col" aria-label="Default select example" >
                <option selected> Seleccione un Departamento</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <select class="form-select custom-select col ms-2" aria-label="Default select example" >
                <option selected>Seleccione un Cargo</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="col-6 ">
            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="submit" class="btn btn-light custom-box " (click)="open(content)">Crear nuevo usuario
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>
    <div class="container-fluid p-3 shadow">
      <div class="d-grid gap-">
        <div class="bg-light border bg-white p-4">
          <table class="table table-hover custom-table">
            <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Last</th>
              <th scope="col">Last</th>
              <th scope="col">Last</th>
              <th scope="col">Last</th>
              <th scope="col">ACCIONES</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let d of [1,2,3,4,5,6,7,8,9];  let index=index; ">
              <td>Mark</td>
              <td>Mark</td>
              <td>Mark</td>
              <td>Mark</td>
              <td>Mark</td>
              <td>Mark</td>
              <td>
                <button type="button" class="btn btn-outline-success border-0"><i class="fas fa-edit"></i> Editar</button>
                <button type="button" class="btn btn-outline-danger border-0"><i class="fas fa-trash"></i> Eliminar</button>

              </td>
            </tr>

            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>
</main>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registrar usuario</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-6">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>
        <div class="form-group col-6">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>
        <div class="form-group col-6">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>
        <div class="form-group col-6">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email">
        </div>
        <div class="form-group col-6">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-light bg-primary custom-box " (click)="open(content)">Registrar</button>
    <button type="button" class="btn btn-light   custom-box" (click)="modal.close('Save click')">Cancelar</button>
  </div>
</ng-template>


<router-outlet></router-outlet>
