.custom-table
  background-color: transparent  /* Quita el fondo de la tabla */
  border: 2px solid #3498db     /* Agrega color a los bordes de la tabla */

.custom-table td, .custom-table th
  border: 2px solid #3498db
